<section class="types-filters-section">

  <div class="max-widht-content">
    <div class="filters-container">

      <div class="title-filter"><h2>BUSCAR POR FILTROS</h2></div>

      <div class="filter-items">
        <owl-carousel-o [options]="customOptions" #owlCar>

          <ng-container *ngFor="let filter of arrPokemonFilters">
            <ng-template carouselSlide>
                <button class="filter-item {{filter.type}}-type"  (click)="activateFilterClass(filter.type)"  [ngClass]="activeFilterClass == filter.type ? 'filter-item-active' : '' ">
                  <img src="{{filter.icon}}" alt="Filtro">
                  <span>{{filter.name}}</span>
                </button>
            </ng-template>
          </ng-container>

        </owl-carousel-o>
      </div>

    </div>
  </div>
</section>
