@import '../../../../styles.scss';

.loader-content{
  margin: 0px auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

.spinner-img{
  width: 90%;
  height: 90%;
}

.spinner-text{
  display: block;
  color: $color-white;
}
